body {
	background: linear-gradient(90deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.divAddToDoList {
	background: linear-gradient(45deg, #405de6, #5851db, #833ab4);
	padding: 25px;
	border-radius: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
	min-width: 30%;
}
.divTextEror {
	background: linear-gradient(45deg, #405de6, #5851db, #833ab4);
	padding: 10px;
	border-radius: 15px;
	margin-top: 20px;
	min-width: 32%;
	display: none;
	text-align: center;
}
.textEror {
	margin: 0;
}
.inputAddToDoList {
	padding: 10px;
	outline: none;
	cursor: pointer;
	border-radius: 5px;
	width: 60%;
	background-color:#5851db;
	border: 1px solid #000000;
	font-size: 16px;
}
.inputAddToDoList::placeholder {
	color: #000000;
}
.btnAddList {
	padding: 10px 15px;
	cursor: pointer;
	border-radius: 5px;
	background-color:#5851db;
	color: #000000;
	border: 1px solid #000000;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
	border: none !important;
	-webkit-text-fill-color: #000000;
	-webkit-box-shadow: 0 0 0px 1000px #5851db inset;
}
.divToDoList {
	margin-top: 20px;
	background: linear-gradient(45deg, #405de6, #5851db, #833ab4);
	padding: 25px;
	border-radius: 15px;
	min-width: 30%;
}
.divElToDoList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    margin: 10px 0px;
    border: 2px solid #000000;
}
.divIconCheckEl {
    display: flex;
    justify-content: center;
    align-items: center;
}
.textEl {
	margin: 0;
	cursor: pointer;
	text-align: center;
	font-size: 17px;
	color: #000000;
}
.input_checkbox {
	display: none;
}
.divChecked {
	width: 18px;
	height: 18px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.divTextEl {
	padding: 0px 10px 0px 10px;
}
.iconDel { 
	cursor: pointer;
}
.addClassCheckBox {
	text-decoration: line-through;
	opacity: 0.4;
	background-color: #405de6;
	border-radius: 5px;
}